@font-face {
    font-family: 'SF Pro Display Regular';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/SFpro/SFPRODISPLAYREGULAR.woff') format('woff');
    }
    

    @font-face {
    font-family: 'SF Pro Display Ultralight Italic';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/SFpro/SFPRODISPLAYULTRALIGHTITALIC.woff') format('woff');
    }
    

    @font-face {
    font-family: 'SF Pro Display Thin Italic';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/SFpro/SFPRODISPLAYTHINITALIC.woff') format('woff');
    }
    

    @font-face {
    font-family: 'SF Pro Display Light Italic';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/SFpro/SFPRODISPLAYLIGHTITALIC.woff') format('woff');
    }
    

    @font-face {
    font-family: 'SF Pro Display Medium';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/SFpro/SFPRODISPLAYMEDIUM.woff') format('woff');
    }
    

    @font-face {
    font-family: 'SF Pro Display Semibold Italic';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/SFpro/SFPRODISPLAYSEMIBOLDITALIC.woff') format('woff');
    }
    

    @font-face {
    font-family: 'SF Pro Display Bold';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/SFpro/SFPRODISPLAYBOLD.woff') format('woff');
    }
    

    @font-face {
    font-family: 'SF Pro Display Heavy Italic';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/SFpro/SFPRODISPLAYHEAVYITALIC.woff') format('woff');
    }
    

    @font-face {
    font-family: 'SF Pro Display Black Italic';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/SFpro/SFPRODISPLAYBLACKITALIC.woff') format('woff');
    }