@import "fonts-SFpro";

// Variables
@import "md_variables";
@import "variables";

// scss-docs-start import-stack
// @import "~bootstrap/scss/bootstrap";

// Configuration
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";

@import "~bootstrap/scss/bootstrap";

@import "header";
@import "footer";

@import "swiper/css/bundle";

body{
  overflow-x: hidden;
}

#th-page-index {
/* Banner Image start*/  
  .home-banner {
    .bannerimg {
      background-image: url("../images/home-banner.jpg");
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 830px;
    }
  }
/* Banner Image End*/    

/* Gym work Section Start*/
  .work-detail {
    .box-cmn {
      display: flex;
      padding: 34px;
      height: 100%;
      align-items: center;
      overflow: hidden;
      position: relative;
      .box-content {
        text-align: center;
        max-width: 254px;
        @include media-breakpoint-only(sm){
          text-align: center;
        }
        @include media-breakpoint-up(md){
          max-width: 254px;
          text-align: center;
        }
        &:after {
          content: "";
          position: absolute;
          right: 0;
          bottom: 0;
          width: 150px;
          height: 140px;
          // background-color: burlywood;
        }
        figure {
          height: 101px;
          display: flex;
          align-items: flex-end;
          justify-content: center;
          margin-bottom: 0;
          img {
            width: 78px;
            height: auto;
            display: block;
            margin: 0 auto;
          }
        }
        h4 {
          padding-top: 24px;
          color: #ffffff;
          text-transform: uppercase;
          margin: 5px 0;
        }
        p {
          padding-top: 20px;
          color: #dedede;
          font-size: 16px;
          text-align: center;
          margin: 0;
        }
      }
    }
    .box-1 {
      background-color: #222222;
      .box-content {
        margin-left: auto;
        // background-image: url("../images/work1.png");
        // background-size: cover;
        // background-repeat: no-repeat;
        // background-position:center;
      }
    }
    .box-2 {
      background-color: #eeeeee;
      .box-content {
        margin: 0 auto;
        position: relative;
        h4,
        p {
          color: black;
        }
      }
    }
    .box-3 {
      background-color: $primary;
    }
  }
/* Gym work Section End*/

/* About Gym work Section Start*/
  .aboutgym{
    .about-content{
      padding-top: 25px;
      @include media-breakpoint-up(sm){
        padding-top: 133px;  
      }
      
      h4{
        color: #5E5E5E;
        text-transform: uppercase;
        font-weight: 500;
      }
      h2{
        position: relative;
        color:#000000;
        font-style: normal;
        font-weight: bolder;
        &::after{
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          background-color: $primary;
          height: 5px;
          width: 186px; 
        }  
      }
      p{
        font-size: 18px;
        font-family: futura-pt,sans-serif;
        font-style: normal;
        font-weight: 500;
        color: #202020;
        @include media-breakpoint-up(sm){
        padding-top: 13px;
        font-family: futura-pt,sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 24px;
        }
      }
    }
    .about-details{
        padding-top: 35px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
      @include media-breakpoint-up(sm){
        padding-top: 55px;
        display: flex;
        align-items: center;
        justify-content: flex-start
      }
      img{
        width: 62px;
        height: 40px;
      }
      .work-content{
       padding-left: 39px;
      .exercise{
        color: #000000;
        font-weight: 600;
      }
      p{
        font-size: 16px;
        color:#707070;
        font-weight: bold;
        @include media-breakpoint-up(sm){
        font-size:20px;
        font-weight: bold;
        }
      }
     }
    }
    .about-training{
      padding-top: 51px;
      display: flex;
      align-items: center;
      justify-content: flex-start
      img{
        width: 62px;
        height: 62px;
      }
      .training-content{
        padding-left: 39px;
        .cardio{
          color: #000000;
          font-weight: 600;
        }
      p{
          font-size: 16px;
          color:#707070;
          font-weight: bold;
        @include media-breakpoint-up(sm){
          font-size:20px;
          font-weight: bold;
        }
       }   
      }
    }
    .aboutinfo{
        padding-top: 50px;
      @include media-breakpoint-up(sm){
        padding-top: 100px;
      }
      .about-image{
        max-width: 623px;
        width: 100%;
        height: 322px;
        background-image: url("../images/about-logo.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat; 
        @include media-breakpoint-up(sm){
        max-width: 623px;
        width: 100%;
        height: 686px;
        background-image: url("../images/about-logo.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; 
        }
      }
    }
  }
/*About Gym Section End*/

/*Gym Profile Section Start*/

.gym-profile{
   background-color: black;
   padding-top: 40px;
   padding-bottom: 289px;
   @include media-breakpoint-up(sm){
    padding-top: 122px;
    padding-bottom: 289px;
   }
  .profile-box{
    .pro-title{
      position: relative; 
      color: #FFFFFF;
      text-transform: uppercase;
      font-size: 25px;
      font-weight: bold;
      text-align: center;
      &::after{
       content: "";
       position: absolute;
       background-color: $primary;
       height: 3px;
       width: 150px;   
       left: 28%;
       bottom: 0;
        }
       }  
   @include media-breakpoint-up(sm){
  .pro-title{
   position: relative; 
   color: #FFFFFF;
   text-transform: uppercase;
   font-size: 44px;
   font-weight: bold;
   text-align: center;
   &::after{
    content: "";
    position: absolute;
    background-color: $primary;
    height: 5px;
    width: 186px;   
    left: 45%;
    bottom: 0;
     }
    }
   } 
   .pro-description{
      font-size: 16px;
      color: #D1D1D1;
      text-align: center;
     @include media-breakpoint-up(sm){
      margin-bottom: 40px;
      font-size: 20px;
      text-align: center;
     }
   } 
  } 
  .cat-cmnbox{
    background-color: #2A2A2A;
    text-align: center;
    padding: 30px 16px 22px 16px;
    .cat-title{
      margin-bottom: 20px;
      color: #FFFFFF;
      font-weight: bold;
      font-size: 21px;
      text-align: center;
      text-transform: uppercase;
     }
    img{
      margin-bottom: 24px;
      width: 90px;
      height: 98px;
    }
    .cat-text{
      text-align: center;
      color:#D1D1D1;
      font-size: 16px;
      @include media-breakpoint-up(sm){
      text-align: center;
      color:#D1D1D1;
      font-size: 18px;
      }
    }
  }
  .th-swiper-pg{
    position: relative;
    top:20px;
  .swiper-pagination-bullet{
    width: 30px;
    height: 3px;
    border-radius: 0;
    background-color: #f2f2f2;
    &.swiper-pagination-bullet-active{
      background-color: $primary;
    }
   }  
  }
 }
  .gym-port-section{
    overflow: hidden;
    margin-top: -200px;
    @include media-breakpoint-up(sm){
      overflow: hidden;
      margin-top: -108px;
    }
    .work-image{
      max-width: 428px;
      width: 100%;
      height: 264px;
      background-image: url("../images/work6.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
    .text-desc{
      width: calc(100vw - 428px);
      background-color: $primary;
      margin-right: -428px;
      .tagline{
        position: relative;
        padding: 24px 0 0 71px;
        color: #FFFFFF;
        text-transform: uppercase;
        font-weight: bold;
        &::after{
          content: "";
          position: absolute;
          background-color: #FFFFFF;
          height: 5px;
          width: 186px;   
          left: 6%;
          bottom: 0;  
        }
      }
      .tag-desc{
        max-width: 846px;
        width: 100%;
        padding:17px 0 0 71px;
        font-size: 22px;
        color: #FFFFFF;
        opacity: 80%;
      }
      .readmore{
        background-color: $primary;
        border: none;
        color: #ffffff;
        text-align: center;
        text-decoration: none;
        border-radius: 0;
        border: 1px solid #ffffff;
        margin: 16px 0 0 70px;
        text-shadow: none;
        text-transform: uppercase;
        max-width: 134px;
        width: 100%;
        height: 41px;
        font-size: 14px;
        width: 100%;
      }
      &:hover {
        color: #2A2A2A;
      }
    }
  }

  .testimonial{
    padding-top: 134px;
    .review{
      max-width: 440px;
      width: 100%;
     .r-text{
       color: #5E5E5E;
       font-size: 17px;
       font-weight: 600;
       text-transform: uppercase;
     }
     .r-title{
       position: relative;
       color:#000000;
       text-transform: capitalize;
       font-weight: 600;
       &::after{
        content: "";
        position: absolute;
        background-color: $primary;
        height: 5px;
        width: 186px;   
        left: 0;
        bottom: 0;  
       } 
     }
     .r-cat{
       padding-top: 51px;
       color:#7E7E7E;
       text-transform: capitalize;
      }
     .nutri-name{
       padding-top: 16px;
       color:#000000;
       font-weight: 600;
      }
     .r-para{
       padding-top: 61px;
       padding-bottom: 207px;
       color: #7E7E7E;
       font-size: 18px;
       font-family: futura-pt, sans-serif;
       font-weight: 500;
     }
    }
    .groupimage-block{
        width: 100%;
        height: 100%;
        position: relative; 
      .groupimg{
        width: 100%;
        height: 100%;
        position: relative; 
        left: 0;
        top: 0;
        
        img{
          
          &.group1{
            position: relative;
            top:111px;
            left:0;
            z-index: 1;
           }
           &.group2{
            position: absolute;
            top:-35px;
            left:185px;
            z-index: 2;
           }
           &.group3{
             position: relative;
             top:140px;
             left:95px;
             z-index: 1;
           }
           &.group4{
             position: relative;
             top:20px;
             left:150px;
             z-index: -1;
           }
        }
       
      } 
    }
   
  }
  .gym-cat{
   background-color: #000000;
   height: 394px;
   .cmnbox-icon{
    display: flex;
    align-items: center;
    justify-content: center; 
    @include media-breakpoint-up(sm) {
    display: flex;
    align-items: center;
    justify-content: center; 
    padding-top: 61px;
    }
     img{
        width: 50px;
        height: 45px;
       @include media-breakpoint-up(sm){
        width: 68px;
        height: 66px;
       }
     }
   .cmnbox-info{
    padding-left: 12px;   
    .digit{
     padding-top: 20px; 
     color: #FFFFFF;
     font-weight: bold;    
     }
     .cmnbox-text{
      color:#FFFFFF;
      font-size: 15px;
       @include media-breakpoint-up(sm){
        font-size: 18px;
        text-transform: uppercase;
       }
     }
    }  
   }
  }

  .video{
    .video-img{
      @include media-breakpoint-up(sm){
        margin:124px 0 0 79px;
      }
      
    .videoback{
     @include media-breakpoint-up(sm) {
      position: relative;
      bottom: 240px;
      left:223px; 
     }
    }  
    }
  }

  .training-section{
    padding-top: 50px;
    .training-header{
      .title-text{
        position: relative;
        color:#000000;
        font-family: futura-pt,sans-serif;
        font-weight: bold;
        text-align: center;
        &::after{
        content: "";
        position: absolute;
        background-color: $primary;
        height: 5px;
        width: 150px;   
        left: 28%;
        bottom: 0;   
        }
      }
      @include media-breakpoint-up(sm){
        .title-text{
          position: relative;
          color:#000000;
          font-family: futura-pt,sans-serif;
          font-weight: bold;
          text-align: center;
          &::after{
          content: "";
          position: absolute;
          background-color: $primary;
          height: 5px;
          width: 186px;   
          left: 44%;
          bottom: 0;   
          }
        }
      }

      p{
        margin-bottom: 60px;
        color:#7E7E7E;
        font-size: 16px;
        font-family: futura-pt,sans-serif;
        font-weight: 500; 
        text-align: center;
        @include media-breakpoint-up(sm){
        margin-bottom: 60px;
        color:#7E7E7E;
        font-size: 20px;
        font-family: futura-pt,sans-serif;
        font-weight: 500; 
        text-align: center;
        }
      }
    }
    
    .video-block{
      padding-top: 10px;
      img{
      width: 100%;  
      height: 363px;
      border-radius:20px 20px 20px 20px;
      opacity: 0.8;
      }
      // .play{
      //   width: 104px;
      //   height: 104px;
      //   position:absolute;
      // }
    }
    .video-info{
      text-align: center;
      background-color: #FFFFFF;
      border-radius: 15px 15px 0 0;
      max-width: 371px;
      width: 100%;
      margin: 0 auto;
      text-align: center;
      padding: 10px;
      margin-top: -40px;
      background-color: #FFFFFF;
      position: relative;
      box-shadow: 0px 8px 45px #0000001F;
      
      .exercise1{
        text-transform: uppercase;
        font-family: SFpro bold,sans-serif;
        font-weight: 600;
        color:$primary;
        margin: 0;
      }
      p{
        font-size: 22px;
        font-family: futura-pt,sans-serif;
        font-style: normal;
        font-weight: bold;
        text-align: center;
        margin: 0;
      }
     }


    .th-swiper-video-pg{
      position: relative;
      top:20px;
    .swiper-pagination-bullet{
      width: 30px;
      height: 3px;
      border-radius: 0;
      background-color: #f2f2f2;
      &.swiper-pagination-bullet-active{
        background-color: $primary;
      }
     } 
    }
  }
  .product-detail{
    padding-top: 30px;
    @include media-breakpoint-up(sm){
      padding-top: 230px;
    }
    .product-bg{
        background-image: url("../images/productbg.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
     .pro-title{
        padding-top: 119px;
     .pro-name{
       position: relative;
       text-transform: uppercase;
       color:#ffffff;
       font-family: futura-pt,sans-serif;
       font-weight: 500;
       &::after{
        content: "";
        position: absolute;
        background-color: #ffffff;
        height: 5px;
        width: 186px;   
        left: 0;
        bottom: 0;    
       }
      } 
      p{
        font-size: 22px;
        font-family: futura-pt,sans-serif;
        font-weight: normal;
        color:#FFFFFF;
      }
      .btnshop{
        background-color: #222222;
        border: none;
        color: #ffffff;
        text-align: center;
        text-decoration: none;
        border-radius: 0;
        border: 1px solid #FFFFFF;
        margin-top: 48px; 
        text-shadow: none;
        text-transform: uppercase;
        max-width: 134px;
        width: 100%;
        height: 41px;
        font-size: 14px;
        width: 100%;
      }
     } 
     .brand-img{
      height: 739px;
      background-image: url("../images/brand.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat; 
      position: relative;
      bottom: 170px;
     }  
    }
  }

  .cart-detail{
    padding-top: 50px;
    @include media-breakpoint-up(sm){
      padding-top: 230px;
    }
    .pro-image{ 
      height: 570px;
      background-image: url("../images/pro1.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
    .cart-info{
      padding-top: 50px;
      @include media-breakpoint-up(sm){
        padding-top: 110px;
      }
      
     .cart-title{
       color:#5E5E5E;
       text-transform: uppercase;
       font-family: SFpro bold,sans-serif;
       font-weight: 600;
     } 
     .cart-brand{
       position: relative;
       color:#000000;
       text-transform: uppercase;
       font-family: futura-pt bold,sans-serif;
       font-weight: bold;
       &::after{
        content: "";
        position: absolute;
        background-color: $primary;
        height: 5px;
        width: 186px;   
        left: 0;
        bottom: 0;    
       }
     }
     p{
      padding-top: 25px;
      color: #7E7E7E;
      font-size: 16px; 
      font-family: futura-pt,sans-serif;
      font-weight: normal;
      text-align: center;
       @include media-breakpoint-up(sm){
        padding-top: 25px;
        color: #7E7E7E;
        font-size: 20px; 
        font-family: futura-pt,sans-serif;
        font-weight: normal; 
       }
     }
     .cart-weight{
       display: flex;
       align-items: center;
       justify-content: flex-start;
       padding-top: 30px;
       .weight-cmn{ 
        background-color: #ECECEC;
        border-radius: 40px 40px 40px 40px;
        display: block;
        width: 110px;
        height: 30px;
        font-size: 9px;
        padding: 10px 29px;
        color:#AEAEAE;
        @include media-breakpoint-up(sm){
          background-color: #ECECEC;
          border-radius: 40px 40px 40px 40px;
          display: block;
          width: 119px;
          height: 38px;
          font-size: 15px;
          padding: 10px 29px;
          color:#AEAEAE;  
        }
        &.active{
        background-color: #FFFFFF;
        border-radius: 40px 40px 40px 40px;
        display: block;
        width: 110px;
        height: 30px;
        font-size: 9px;
        padding: 10px 29px;
        border: 1px solid #000000;
        color:#000000; 
        margin-left: 15px;
        @include media-breakpoint-up(sm) {
          background-color: #FFFFFF;
          border-radius: 40px 40px 40px 40px;
          display: block;
          width: 119px;
          height: 38px;
          font-size: 14px;
          padding: 10px 29px;
          border: 1px solid #000000;
          color:#000000; 
          margin-left: 15px;
        } 
        }
       }
     }
     .cart-price{
      padding-top: 21px;
      color:#000000;
      font-family: futura-pt bold,sans-serif;
      font-weight: bold;
      text-transform: uppercase;
    }
    .btncart{
        background-color: #000000;
        border: none;
        color: #ffffff;
        text-align: center;
        text-decoration: none;
        border-radius: 0;
        margin-top: 21px;
        text-shadow: none;
        text-transform: uppercase;
        max-width: 243px;
        width: 100%;
        height: 57px;
        font-size: 20px;
        width: 100%;
    }
    .btnwish{
        background-color: #ECECEC;
        border: none;
        color: #000000;
        text-align: center;
        text-decoration: none;
        border-radius: 0;
        margin-top: 21px;
        text-shadow: none;
        text-transform: uppercase;
        max-width: 243px;
        width: 100%;
        height: 57px;
        font-size: 20px;
        width: 100%;
        padding-left: 15px;
        @include media-breakpoint-up(sm){
          margin-left:20px;
        }
    }
    }
  }
  .blog{
    padding-top: 50px;
    @include media-breakpoint-up(sm){
      padding-top: 124px;
    }
    .blog-info{
      .blog-title{
        position: relative;
        text-align: center;
        text-transform: capitalize;
        font-family: futura-pt bold,sans-serif;
        font-weight: bold;
      &::after{
        content: "";
        position: absolute;
        background-color: $primary;
        height: 5px;
        width: 150px;   
        left: 21%;
        bottom: 0;    
      }  
      }
      @include media-breakpoint-up(sm){
        .blog-title{
          position: relative;
          text-align: center;
          text-transform: capitalize;
          font-family: futura-pt bold,sans-serif;
          font-weight: bold;
        &::after{
          content: "";
          position: absolute;
          background-color: $primary;
          height: 5px;
          width: 186px;   
          left: 44%;
          bottom: 0;    
        }  
       }
      }
 
      p{
        color: #7E7E7E;
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        @include media-breakpoint-up(sm){
        font-size: 20px;
        font-weight: 500;
        text-align: center;
        }
      }
    }
    .cmn-blog{
      padding-top: 50px;
      .blogimg{
        height: 280px;
      img{
        width: 100%;
        height: 100%;
        border-radius: 20px 20px 20px 20px;
        box-shadow: 0px 6px 25px #0000000F;
        object-fit: cover;
       }
      }
      .icon{
        padding-top: 26px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        span{
          color: #7E7E7E;
          font-size:14px;
          font-family: SFpro normal,sans-serif;
          font-weight: 500;
          margin-left: 10px;
        }
      }
      h4{
        padding-top: 22px;
        color:#000000;
        text-transform: uppercase;
        font-family: SFpro bold,sans-serif;
      }
      p{
        padding-top: 17px;
        color: #7E7E7E;
        font-size: 15px;
        font-family: futura-pt normal,sans-serif;
        font-weight: 500;
        @include media-breakpoint-up(sm){
        padding-top: 17px;
        font-size: 18px;
        font-family: futura-pt normal,sans-serif;
        font-weight: 500;
        }
      }
      .readblog{
        border: 1px solid #000000;
        color: #000000;
        text-align: center;
        text-decoration: none;
        border-radius: 0;
        margin-top: 27px;
        text-shadow: none;
        text-transform: uppercase;
        max-width: 145px;
        width: 100%;
        height: 45px;
        font-size: 14px;
        width: 100%;
        @include media-breakpoint-up(sm){
        border: 1px solid #000000;
        color: #000000;
        text-align: center;
        text-decoration: none;
        border-radius: 0;
        margin-top: 27px;
        text-shadow: none;
        text-transform: uppercase;
        max-width: 196px;
        width: 100%;
        height: 56px;
        font-size: 16px;
        width: 100%;  
        }  
      }
    }
    .view{
      padding-top:40px;
      text-align: center;
      color:$primary;
      font-size: 16px;
      font-family: SFpro normal,sans-serif;
      text-transform: uppercase;
    }
  }
  .newsletter{
    padding-top: 105px;
    @include media-breakpoint-up(sm){
      padding-top: 199px;
    }
    .news-box-bg{
      background-color: #EEEEEE;
      //height: 417px;
    .news-box{
      //height: 427px;
      background-color: $primary;
      box-shadow: 0px 15px 45px #00000026;
      border-radius:40px 40px 40px 40px;
      opacity: 1;
      position: relative;
      padding: 30px;
      bottom: 75px;
    .letter-bg{
      opacity: 0.8;
      background-image: url("../images/news.png");
      background-size: contain;
      background-position: left;
      background-repeat: no-repeat;
      @include media-breakpoint-up(sm){
        display: flex;
        justify-content: space-evenly;
        opacity: 0.8;
        background-image: url("../images/news.png");
        background-size: contain;
        background-position: left;
        background-repeat: no-repeat;
      }
      .news-title{
        //padding: 86px 0 0 87px;
        color:#FFFFFF;
        text-transform: uppercase;
        font-family: futura-pt bold,sans-serif;
        font-weight: bold;
      }
      .subscribe{
        font-size: 33px;
        color:#FFFFFF;
        text-transform: uppercase;
        font-family: futura-pt normal,sans-serif;
        font-weight: 500;
        //padding-left: 87px;
      }
      p{
        //padding: 25px 0 0 87px;
        color:#FFFFFF;
        font-size:18px;
        font-family: futura-pt normal,sans-serif;
      }
      .subscribe-box{
        //padding: 100px 0 0 80px;
        .subname{
          border-radius: 0;
          background-color: #FFFFFF;
          border: 2px solid #EDEDED;
          max-width: 439px;
          width: 100%;
          height: 58px;
        }
        .subemail{
          margin-top:20px;
          border-radius: 0;
          background-color: #FFFFFF;
          border: 2px solid #EDEDED;
          max-width: 439px;
          width: 100%;
          height: 58px;
        }
        .btnsub{
        background-color: #000000;
        color: #FFFFFF;
        text-align: center;
        text-decoration: none;
        border-radius: 0;
        margin-top: 27px;
        text-shadow: none;
        text-transform: uppercase;
        max-width: 438px;
        width: 100%;
        height: 56px;
        font-size: 16px;
        width: 100%;
        }
      }
    }  
    }  
    }
  }
}