<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/favicon.ico">
    <title>Train Hard</title>
    <link rel="stylesheet" href="css/home.css">
    <link
    rel="stylesheet"
    href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
    crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://use.typekit.net/twx2phd.css">

    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
</head>

<body>

    <% include /src/include/header.ejs %>

        <main id="th-page-index">

          <section class="home-banner">
               <div class="bannerimg"></div>
          </section>

          <section class="work-detail">
              <div class="row g-0">
                 <div class="col-md-4">
                    <div class="box-cmn box-1">
                       <div class="box-content">
                           <figure>
                               <img src="images/work1.png" alt="work1">
                            </figure>
                          <h4>PROGRESSION</h4>
                          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</p>  
                       </div>
                    </div>
                 </div>
                 
                 <div class="col-md-4">
                    <div class="box-cmn box-2">
                      <div class="box-content">
                          <figure>
                              <img src="images/work2.png" alt="work2">
                            </figure>
                          <h4>WORKOUT</h4>
                          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</p>
                      </div>
                    </div>
                 </div>  

                 <div class="col-md-4">
                    <div class="box-cmn box-3">
                       <div class="box-content">
                           <figure>
                               <img src="images/work3.png" alt="work3">
                            </figure>
                           <h4>NUTRITION</h4>
                           <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</p>
                       </div>
                    </div>
                 </div>  
              </div>
          </section>

          <section class="aboutgym">
             <div class="container">
                <div class="row">
                   <div class="col-md-6">
                      <div class="about-content">
                         <h4>ABOUT US</h4>
                         <h2 class="display-4">Who Are We</h2>
                         <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et</p>
                      </div>
                      <div class="about-details">
                         <img src="images/work4.png" alt="work4">
                         <div class="work-content">
                           <h4 class="exercise">Fitness Exercise</h4>
                           <p>Lorem ipsum dolor sit amet, consetetur.</p>
                         </div>
                      </div>

                      <div class="about-training">
                        <img src="images/work5.png" alt="work5">
                        <div class="training-content">
                          <h4 class="cardio">Cardio Training</h4>
                          <p>Lorem ipsum dolor sit amet, consetetur.</p>
                        </div>
                      </div>

                   </div>
                   <div class="col-md-6">
                      <div class="aboutinfo">
                        <div class="about-image"></div>
                      </div>
                   </div>
                </div>
             </div> 
          </section>

          <section class="gym-profile">
             
             <div class="container">
                  <div class="profile-box">
                     <h2 class="display-4 pro-title">WHY CHOOSE US</h2>
                     <p class="pro-description">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor<br>invidunt ut labore et dolore magna aliquyam.</p>
                  </div>
                  <div class="row">
                     <div class="col-md-3">
                         <div class="cat-cmnbox">
                            <h4 class="cat-title">TOPS</h4>
                            <img src="images/cat1.png" alt="tops-image">
                            <p class="cat-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</p>
                         </div>
                     </div>

                     <div class="col-md-3">
                        <div class="cat-cmnbox">
                           <h4 class="cat-title">BOTTOMS</h4>
                           <img src="images/cat2.png" alt="bottoms-image">
                           <p class="cat-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</p>
                        </div>
                    </div>

                    <div class="col-md-3">
                     <div class="cat-cmnbox">
                        <h4 class="cat-title">HOODIES AND JACKETS</h4>
                        <img src="images/cat3.png" alt="jacket-image">
                        <p class="cat-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</p>
                     </div>
                    </div>

                    <div class="col-md-3">
                     <div class="cat-cmnbox">
                        <h4 class="cat-title">ACCESSORIES</h4>
                        <img src="images/cat4.png" alt="accessories-image">   
                        <p class="cat-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</p>
                     </div>
                    </div>

                  </div>
             </div>
          </section>

          <section class="gym-port-section">
            <div class="container">
               <div class="row">
                  <div class="col-md-12 d-flex position-relative">
                     <div class="work-image"></div>
                     <div class="text-desc">
                        <h2 class="display-4 tagline">Dare to be great</h2>
                        <p class="tag-desc">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam .</p>
                        <button class="readmore">Read More</button>
                     </div>  
                  </div>
               </div>
            </div>
          </section>

          <section class="testimonial">
             <div class="container">
                <div class="row">
                   <div class="col-md-6">
                      <div class="review">
                          <h5 class="r-text">TESTIMONIAL</h5>
                          <h2 class="display-4 r-title">Reviews From You</h2> 
                          <h5 class="r-cat">Nutritionist</h5>
                          <h4 class="nutri-name">JEREMY GEORGE</h4>
                          <p class="r-para">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata.</p>
                      </div>
                   </div>
                   <div class="col-md-6">
                      <div style="position: relative; left: 0; top: 0;">
                         <img src="images/group-11.png" alt="gym-image2" class="group1">
                         <img src="images/group-1.png" alt="gym-image1" class="group2">
                         <img src="images/group22.png" alt="gym-image3" class="group3">
                         <img src="images/group33.png" alt="gym-image4" class="group4">
                      </div>
                   </div>
                </div>
             </div>
          </section>

          <section class="video">
             <div class="container">
                <div class="row">
                   <div class="col-md-3">
                      <div class="cmnbox-icon">
                         <img src="images/group-7.png" alt="icon1">
                         <div class="cmnbox-info">
                            <h2 class="digit">143</h2>
                            <p class="cmnbox-text">LOREM IPSUM</p>
                         </div>
                      </div>
                   </div>
                  <div class="col-md-3">
                     <div class="cmnbox-icon">
                        <img src="images/group-8.png" alt="icon2">
                        <div class="cmnbox-info">
                           <h2 class="digit">654</h2>
                           <p class="cmnbox-text">LOREM IPSUM</p>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-3">
                     <div class="cmnbox-icon">
                        <img src="images/group-9.png" alt="icon3">
                        <div class="cmnbox-info">
                           <h2 class="digit">246</h2>
                           <p class="cmnbox-text">LOREM IPSUM</p>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-3">
                     <div class="cmnbox-icon">
                        <img src="images/Group 10.png" alt="icon4">
                        <div class="cmnbox-info">
                           <h2 class="digit">545</h2>
                           <p class="cmnbox-text">LOREM IPSUM</p>
                        </div>
                     </div>
                  </div>
                </div>
                <!-- <div class="row">
                   <div class="col-md-12 video-img">
                         <img src="images/videobg.png" alt="video1">
                   </div>
                </div> -->
             </div>
          </section>

          <section class="training-section">
             <div class="training-header">
                <h2 class="display-4 title-text">Our Training Series</h2>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor<br>invidunt ut labore et dolore magna aliquyam.</p>
             </div>
             <div class="container">
                <div class="img-thumb">
                     <div class="img-series1">
                         <img src="images/work11.jpg" alt="series1">
                     </div>
                     <div class="img-series2">
                        <img src="images/work22.jpg" alt="series2">
                     </div>
               </div>    
            </div>         
          </section>

        </main>

        <% include /src/include/footer.ejs %>

        <script src="js/home.js"></script>
    <!-- <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script> -->

    <!-- Initialize Swiper -->
    <!-- <script>
      var swiper = new Swiper(".mySwiper", {
        slidesPerView: 2,
        spaceBetween: 30,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
      });
    </script> -->

</body>
</html>