<footer class="th-footer">
   <div class="footer-box">
       <div class="container">
           <div class="row">
               <div class="col-md-4">
                   <div class="footer1">
                     <div>
                        <a href="#"><img src="../images/footer-logo.png" alt="logo"></a>
                     </div> 
                     <div class="location">
                         <span><a href="#"><i class="fas fa-map-marker-alt"></i></a></span>
                         <p>463 Round Table Drive,<br>Norwood, OH, Ohio</p>  
                     </div>
                     <div>
                         <span><a href="#"><a href="#"><i class="fas fa-phone-alt"></i></a></a></span>
                         <span class="contact">+123456789</span>
                     </div>
                     <div class="social-icon-block">
                        <a href="#" class="social-icon"><i class="fab fa-linkedin-in"></i></a>
                        <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
                        <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
                     </div>
                   </div>
               </div>
               <div class="col-md-3">
                <div class="cat1">
                    <h5 class="cat-title">Category</h5>
                    <ul class="p-0">
                      <li><a href="#">First Link</a></li>
                      <li><a href="#">Second Long Link</a></li>
                      <li><a href="#">Third Link</a></li>
                      <li><a href="#">Fourth long Link</a></li>
                    </ul>
                  </div>
               </div>
               <div class="col-md-3">
                <div class="cat1">
                    <h5 class="cat-title">Category</h5>
                    <ul class="p-0">
                      <li><a href="#">First Link</a></li>
                      <li><a href="#">Second Long Link</a></li>
                      <li><a href="#">Third Link</a></li>
                      <li><a href="#">Fourth long Link</a></li>
                    </ul>
                  </div>
               </div>

               <div class="col-md-2">
                <div class="cat1">
                    <h5 class="cat-title">Category</h5>
                    <ul class="p-0">
                      <li><a href="#">First Link</a></li>
                      <li><a href="#">Second Long Link</a></li>
                      <li><a href="#">Third Link</a></li>
                      <li><a href="#">Fourth long Link</a></li>
                    </ul>
                  </div>
               </div>
           </div>
       </div>
   </div>
   <div class="row">
    <div class="footer-text">
        <span>Copyright 2020 - All right Reserved</span>
    </div>
   </div>
</footer>